repos:
  # golang pre commits
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: no-go-testing
      - id: golangci-lint
        args: ["--skip-dirs=vendor -c .golang-ci.yml ."]
      - id: go-unit-tests
      - id: go-build
      - id: go-mod-tidy